<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>RuamtyBG - @ViewData["Page"]</title>

    <style>
        body {
            margin: 0;
            margin-right: 10px;
            background-color: #c9c9c9;
            font-family: Jaldi, sans-serif;
        }

        .container {
            display: grid;
            grid-template-rows: 200px 1fr;
            grid-template-columns: 200px 1fr 1fr 1fr;
        }

        .sidebar_layout {
            grid-area: 1 / 1 / 4 / 2;
            
        }

        .display-board {
                grid-area: 1 / 2 / 2 / 5;
                width: 100%;
                margin-top: 20px;
        }

        .posts-board {
            grid-area: 2 / 2 / 3 / 5;
            width: 100%;
            height: 100%;
        }

        .sidebar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 100vh;
            background: #FFAF45;
            position: sticky;
            top: 0px;
        }

        .icon {
            width: 50px;
            height: 50px;
            margin-top: 40px;
        }

        svg {
            width: 30px;
            height: 30px;
            margin-top: 0px;
            padding-left: 10px; 
            padding-right: 10px;
            stroke-width: 4px;
        }

        .web_name {
            font-size: x-large;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 0px;
            color: #673F69;
        }

        .account_name {
            font-size: large;
            margin-top: 5px;
            margin-bottom: 50px;
            align-items: stretch;
            color: #673F69
        }

        .nav_item{
            width: 100%; 
        }

        .nav_button {
            display: flex;
            align-items: center;
            background: #FFAF45;
            color: #673F69;
            font-size: 18px;
            font-weight: bold;
            text-align: left; 
            width: 100%; 
            margin-bottom: 40px;
            border: 0px;
            border-radius: 0px 10px 10px 0px;
        }


        .decoration_pic {
            width: 97%;
            height: 100%;
            object-fit: cover;
            border-radius: 40px;
            object-position: 0px 80%;
            margin-left: 20px;
            margin-right: 20px;
        }

        .container1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-right: 20px;
            margin-top: 20px;
            height: 480px; 
            overflow-y: scroll; 
            overflow-x: hidden; 
        }

        .card {
            width: 265px;
            height: 464px;
            margin: 10px 67px;
        }

        .card-bg {
            background-color: white;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            text-align: center;
            padding: 5px 0px;
        }

        .image-container {
            width: 180px;
            height: 180px;
            display: inline-table;
            margin-top: 20px;
        }

        .image-container img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

        .card-content {}

        .card-content h2 {
            font-size: 20px;
            margin-bottom: 10px;
            color: black;
        }

        .card-content ul {
            margin-top: 0;
            text-align: left;
            margin-bottom: 0;
            padding-left: 10;
        }

        .card-content ul li {
            margin-bottom: 8px;
            font-size: 15px;
            color: #333;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            padding: 15px;
        }

        .btn {
            color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            padding: 4px 8px 4px 8px;
            ;
        }

        .btn.close-btn {
            background-color: #ff7043;
        }

        .btn.view-btn {
            background-color: #ff7043;
            width: 100px;
            height: 50px;
        }

        .btn:hover {
            background-color: #ff5722;
        }


        /* Responsive Styles */
         @@media only screen and (max-width: 1400px) {
             .card {
                margin: 10px 50px;
            }

            .container1 {
                height: 800px;
            }

         }


        @@media only screen and (max-width: 1024px) {

            .decoration_pic {
                width: 90%;
            }

            .container1 {
                height: 510px;
                margin: 10px 67px;
            }

            .card {
                width: 700px;
                height: fit-content;
                display: flex;
                flex-direction: column;
            }

            .card-bg {
                height: fit-content;
                display: flex;
            }

            .image-container {
                margin: 20px;

            }

            .card-content h2 {
                font-size: 20px;
                text-align: left;
                margin-left: 23px;
            }
            
            .button-container {
                justify-content: center;
                align-self: center;
            }
            
            

        }

        @@media only screen and (max-width: 768px) {

            .decoration_pic {
                width: 87%;
            }

            .container1 {
                height: 510px;
                margin: 10px 40px;
            }

            .card {
                width: 700px;
                height: fit-content;
                display: flex;
                flex-direction: column;
            }

            .card-bg {
                width: 357px;
                height: fit-content;
                display: flex;
            }

            .image-container {
                margin: 20px;
                width: 130px;
                height: 130px;
            }

            .card-content h2 {
                font-size: 20px;
                text-align: left;
                margin-left: -7px;
            }

            .card-content ul li {
                margin-bottom: 8px;
                font-size: 15px;
                color: #333;
            }

            .button-container {
                justify-content: center;
                align-self: center;
            }

        }

        @@media only screen and (max-width: 480px) {

           .container {
                grid-template-rows: 130px 1fr;
                grid-template-columns: 100px 1fr 1fr 1fr;
            }

            .web_name{
                font-size: small;
            }

            .account_name{
                font-size: smaller;
                margin-top: 10px;
            }

            svg{
                display: none;
            }

            .container1 {
                height: 700px;

           .card {
                display: block;
                width: 265px;
                height: auto;
                margin: 10px;
           }

            .card-bg {
                display: block;
                width: auto;
                background-color: white;
                border-radius: 20px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                text-align: center;
                padding: 5px 0px;
            }

            .image-container {
                width: 150px;
                height: 150px;
                display: inline-table;
                margin: 10px;
            }

            .image-container img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }

            .card-content h2 {
                font-size: 20px;
                margin: 10px;
                color: black;
                text-align: center;
            }

            .card-content ul {
                margin-top: 0;
                text-align: left;
                margin-bottom: 0;
                padding-left: 10;
            }

            .card-content ul li {
                margin-bottom: 8px;
                font-size: 15px;
                color: #333;
            }

            .button-container {
                display: flex;
                justify-content: center;
                padding: 15px;
            }
        }



        
    </style>
</head>

<body>
    <div class="container">

        <div class="sidebar_layout">
            <div class="sidebar">
                <img class="icon" src="/Picture/Icon.png">
                <p class="web_name">RUAMTY BG</p>
                <p class="account_name">Account name</p>

                <form class="nav_item" asp-controller="Home" asp-action="HomePage" method="GET">
                    <button class="nav_button" id="home_button" onmouseover="highlight(this)" onmouseleave="unhighlight(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-house" viewBox="0 0 16 16">
                            <path
                                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
                        </svg>
                        HOME
                    </button>
                </form>

                <form class="nav_item" asp-controller="Home" asp-action="MyPost" method="GET">
                    <button class="nav_button" id="posted_button" onmouseover="highlight(this)" onmouseleave="unhighlight(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-card-list" viewBox="0 0 16 16">
                            <path
                                d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                            <path
                                d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
                        </svg>
                        MY POSTED
                    </button>
                </form>

                <form class="nav_item" asp-controller="Home" asp-action="CreatePost" method="GET">
                    <button type="submit" class="nav_button" id="create_button" onmouseover="highlight(this)" onmouseleave="unhighlight(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                        CREATE POST
                    </button>
                </form>

                <form class="nav_item" asp-controller="Home" asp-action="JoinedPost" method="GET">
                    <button class="nav_button" id="joined_button" onmouseover="highlight(this)" onmouseleave="unhighlight(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-card-checklist" viewBox="0 0 16 16">
                            <path
                                d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                            <path
                                d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0" />
                        </svg>
                        JOINED POST
                    </button>
                </form>

                <form class="nav_item" asp-controller="Home" asp-action="Logout" method="GET">
                    <button class="nav_button" id="logout_button" onmouseover="highlight(this)" onmouseleave="unhighlight(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                            <path fill-rule="evenodd"
                                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                        </svg>
                        LOGOUT
                    </button>
                </form>
            </div>
        </div>
            

        <div class="display-board">
            <img class="decoration_pic" src="/Picture/bg 2_blur.jpg">
        </div>

        <div class="posts-board">@RenderBody()</div>

    </div>
    <script>
        const sidebar = document.getElementById('sidebar');

        function highlight(obj) {
                obj.style.color = "#D74B76";
                obj.style.background = "#FFBF6A";
                obj.style.borderBottom = "thick solid #D74B76";
            }

        function unhighlight(obj) {
            obj.style.color = "";
            obj.style.background = "#FFAF45";
            obj.style.borderBottom = "";
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
