<link rel="stylesheet" href="~/css/CreatPost.css" asp-append-version="true" />

<div class="container-post">
    <div class="top-zone">
        <div class="top-grid">
            <div class="top-item1">
                <img id="game-img" src="https://img2.pic.in.th/pic/boardgame.th.jpg" class="img" />
            </div>
            <div class="dropdown top-item2">
                <div class="select">
                    <span class="selected">CHOOSE GAME</span>
                    <div class="caret"></div>
                </div>
                <ul class="menu">
                    <li data-image="https://img2.pic.in.th/pic/KEMET.th.jpg">KEMET</li>
                    <li data-image="https://img2.pic.in.th/pic/poker.th.jpg">POKER</li>
                    <li data-image="https://img5.pic.in.th/file/secure-sv1/DETECTIVE-CLUB.th.jpg">DETECTIVE CLUB
                    </li>
                    <li data-image="https://img2.pic.in.th/pic/WERE-WOLF.th.jpg">WERE WOLF</li>
                    <li data-image="https://img2.pic.in.th/pic/Luckroll.th.jpg">LUCK & ROLL</li>
                </ul>
            </div>
            <div class="top-item3">
                <div class="date-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                        class="bi bi-calendar3" viewBox="0 0 16 16">
                        <path
                            d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857z" />
                        <path
                            d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2m3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                    </svg>
                </div>
                <div class="contain-date">
                    <div class="form-group">
                        <h4>DATE</h4>
                        <input class="form-control-date" type="date" placeholder="select DateTime" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-zone">
        <form method="post" asp-controller="Home" asp-action="Create">
            <div class="form-grid">
                <div class="form-group form-item-1">
                    <h4>MEMBER</h4>
                    <input class="form-control" type="text" placeholder="กรอกจำนวนสมาชิก" />
                </div>
                <div class="form-group form-item-2">
                    <h4>PLACE</h4>
                    <input class="form-control" type="text" placeholder="กรอกสถานที่" />
                </div>
                <div class="form-group form-item-3">
                    <h4>TIME</h4>
                    <input class="form-control" type="time" />
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-people-fill logo-1" viewBox="0 0 16 16">
                    <path
                        d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-geo-alt"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-clock"
                    viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                </svg>
            </div>
            <div>
                <button type="submit" class="create-btn">CREATE</button>
            </div>
        </form>
    </div>

</div>
<script src="~/js/CreatPost.js" asp-append-version="true"></script>