<style>
     .button-container {
            display: flex;
            justify-content: center;
            padding: 15px;
        }
    #joined_button{
            color: #FFFFFF;
        }
</style>


<div class="container1">
    <div class="card">
        <div class="card-bg">
            <div class="image-container">
                <img src="/Picture/kemet new.jpg" alt="Kemet Game">
            </div>
            <div class="card-content">
                <h2>KEMET</h2>
                <ul>
                    <li>เจ้าของ Post: Account name</li>
                    <li>จำนวนสมาชิก: 0/4</li>
                    <li>สถานที่: ห้อง หอชาย A</li>
                    <li>วันที่: 16/09/2567</li>
                    <li>เวลา: 19:00น.</li>
                </ul>
            </div>
        </div>
        <div class="button-container">
            <button class="btn view-btn">CANCLE</button>
        </div>
    </div>

    <div class="card">
        <div class="card-bg">
            <div class="image-container">
                <img src="/Picture/poker.jpg" alt="Poker Game">
            </div>
            <div class="card-content">
                <h2>POKER</h2>
                <ul>
                    <li>เจ้าของ Post: Account name</li>
                    <li>จำนวนสมาชิก: 0/4</li>
                    <li>สถานที่: ห้อง หอชาย A</li>
                    <li>วันที่: 16/09/2567</li>
                    <li>เวลา: 19:00น.</li>
                </ul>
            </div>
        </div>
        <div class="button-container">
            <button class="btn view-btn">CANCLE</button>
        </div>
    </div>

    <div class="card">
        <div class="card-bg">
            <div class="image-container">
                <img src="/Picture/DT club.jpg" alt="DT club Game">
            </div>
            <div class="card-content">
                <h2>DETECTIVE CLUB</h2>
                <ul>
                    <li>เจ้าของ Post: Account name</li>
                    <li>จำนวนสมาชิก: 0/4</li>
                    <li>สถานที่: ห้อง หอชาย A</li>
                    <li>วันที่: 16/09/2567</li>
                    <li>เวลา: 19:00น.</li>
                </ul>
            </div>
        </div>
        <div class="button-container">
            <button class="btn view-btn">CANCLE</button>
        </div>

    </div>
     <div class="card">
        <div class="card-bg">
            <div class="image-container">
                <img src="/Picture/werewolf.jpg" alt="werewolf Game">
            </div>
            <div class="card-content">
                <h2>WEREWOLF</h2>
                <ul>
                    <li>เจ้าของ Post: Account name</li>
                    <li>จำนวนสมาชิก: 0/4</li>
                    <li>สถานที่: ห้อง หอชาย A</li>
                    <li>วันที่: 16/09/2567</li>
                    <li>เวลา: 19:00น.</li>
                </ul>
            </div>
        </div>
        <div class="button-container">
            <button class="btn view-btn">CANCLE</button>
        </div>
    </div>

</div>


   

    